<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end"
     style="margin-bottom:10px;margin-left:90px;">
  <div>
    <ul *ngIf="!currentUser" class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
    <ul *ngIf="currentUser" class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile"><span class="glyphicon glyphicon-user"></span> {{currentUser.name}}
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> LogOut</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar custom-vertical-nav navbar-dark bg-dark nav-pills nav-fill">
  <ul class="navbar-nav custom-navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="https://angular.io">
        <span><img src="assets/imgs/angular.png"></span>
        <span class="logo">ANGULAR</span>
      </a>
    </li>
    <li [class.active]="router.url==='/dashboard'" class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <span class="glyphicon glyphicon-home"></span>
        <span>Dashboard</span>
      </a>
    </li>
    <li [class.active]="router.url==='/user-list'" class="nav-item">
      <a class="nav-link" routerLink="/user-list">
        <span class="glyphicon glyphicon-user"></span>
        <span>User List</span>
      </a>
    </li>
    <li [class.active]="router.url==='/product-list'" class="nav-item">
      <a class="nav-link" routerLink="/product-list">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>Product List</span>
      </a>
    </li>
    <li [class.active]="router.url==='/transaction-list'" class="nav-item">
      <a class="nav-link" routerLink="/transaction-list">
        <span class="glyphicon glyphicon-usd"></span>
        <span>Purchases</span>
      </a>
    </li>
  </ul>
</nav>
