<div class="container custom-container">
  <div *ngIf="errorMessage" class="alert alert-danger">
    <strong>Error!</strong> {{errorMessage}}
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="infoMessage" class="alert alert-success">
    <strong>Successful!</strong> {{infoMessage}}
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="dataSource">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">All Products</h3>
          </div>
          <div class="col col-xs-6 text-right">
            <button (click)="createNewProductRequest()" class="btn btn-primary" type="button">Create New Product
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table [dataSource]="dataSource" mat-table matSort>
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Id</th>
            <td *matCellDef="let element" mat-cell>{{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Name</th>
            <td *matCellDef="let element" mat-cell>{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Price</th>
            <td *matCellDef="let element" mat-cell>{{element.price}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Actions</th>
            <td *matCellDef="let element" mat-cell style="width:140px;">
              <a (click)="editProductRequest(element)" class="btn btn-warning custom-btn-link"><em
                class="glyphicon glyphicon-pencil"></em></a>
              <a (click)="deleteProductRequest(element)" class="btn btn-danger custom-btn-link"><em
                class="glyphicon glyphicon-trash"></em></a>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>


<div #productModal aria-hidden="true" aria-labelledby="productModalLabel" class="modal fade" id="productModal"
     role="dialog"
     tabIndex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="f.form.valid && saveProduct()" name="form-product-update" novalidate>
        <div class="modal-header">
          <h5 class="modal-title">Product Details</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div *ngIf="errorMessage" class="alert alert-danger">
            <strong>Error!</strong> {{errorMessage}}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div [ngClass]="{ 'has-error': f.submitted && !name.valid }" class="form-group">
            <label for="name">Product Name</label>
            <input #name="ngModel" [(ngModel)]="selectedProduct.name" class="form-control input-text-custom" id="name"
                   name="name" required type="text"/>
            <div *ngIf="f.submitted && !name.valid" class="help-block">Product name is required.</div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !price.valid }" class="form-group">
            <label for="price">Price</label>
            <input #price="ngModel" [(ngModel)]="selectedProduct.price" class="form-control input-text-custom"
                   id="price"
                   name="price" required type="number"/>
            <div *ngIf="f.submitted && !price.valid" class="help-block">Price is required.</div>
          </div>

          <div [ngClass]="{ 'has-error': f.submitted && !explanation.valid }" class="form-group">
            <label for="explanation">Explanation</label>
            <textarea #explanation="ngModel" [(ngModel)]="selectedProduct.explanation" class="form-control"
                      id="explanation" maxlength="1000"
                      name="explanation" required rows="8"></textarea>
            <div *ngIf="f.submitted && !explanation.valid" class="help-block">Explanation is required.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div #deleteModal aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal"
     role="dialog"
     tabIndex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Are you sure to delete <strong>{{selectedProduct.name}}</strong>?
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
        <button (click)="deleteProduct()" class="btn btn-danger" type="button">I'm sure.</button>
      </div>
    </div>
  </div>
</div>
