<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div [style.text-align]="'center'">
        <form class="example-form">
          <div class="autocomplete">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Город, улица, дом, квартира" name="address"  #inputValue
                     (input)="getData(inputValue.value)"
                     (keyup.Enter)="onEnter()" [(ngModel)]="value">
            </mat-form-field>
            <div *ngIf="data.length">
              <div class="autocomplete-items">
                <div class="autocomplele-item" *ngFor="let item of data; let i = index"
                     (click)="onClick($event, item)" [id]="i+'item'">
                  {{item.value}}
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Город" [disabled]="true" [value]="address?.data.city">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Улица" [disabled]="true" [value]="address?.data.street">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Latitude" [disabled]="true" [value]="address?.data.geo_lat">
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Дом" [disabled]="true" [value]="address?.data.house">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Квартира" [disabled]="true" [value]="address?.data.flat">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Longitude" [disabled]="true" [value]="address?.data.geo_lon">
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

